.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: rgb(194, 199, 208);
  position: relative;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 0.9rem;
  font-weight: 500;
}

.username:hover {
  color: #f3f3f3;
}

.user-dropdown {
  position: absolute;
  top: 40px;
  right: 0px;
  display: none;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: rgb(30, 36, 46);
}

.user-info.active .user-dropdown {
  display: flex;
}